<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>color_1</key>
    <string>333333</string>
    <key>color_2</key>
    <string>666666</string>
    <key>color_3</key>
    <string>0090ff</string>
    <key>color_4</key>
    <string>999999</string>
    <key>color_5</key>
    <string>cccccc</string>
    <key>color_6</key>
    <string>9bd6ff</string>
    <key>color_7</key>
    <string>ffffff</string>
    <key>color_8</key>
    <string>dddddd</string>
    <key>color_9</key>
    <string>eeeeee</string>
    <key>color_10</key>
    <string>f5f5f5</string>
    <key>color_11</key>
    <string>ebeced</string>
    <key>color_12</key>
    <string>7fedff</string>
    <key>color_13</key>
    <string>f43531</string>
    <key>color_14</key>
    <string>38adff</string>
    <key>color_15</key>
    <string>d4eeff</string>
    <key>color_16</key>
    <string>ff6f6f</string>
    <key>color_17</key>
    <string>ffb822</string>
    <key>color_18</key>
    <string>2dd2d0</string>
    <key>color_19</key>
    <string>ff9518</string>
    <key>color_20</key>
    <string>7ed728</string>
    <key>color_21</key>
    <string>c166d8</string>
    <key>color_22</key>
    <string>2a82bf</string>
    <key>color_23</key>
    <string>f0f0f0</string>
    <key>color_24</key>
    <string>fefbd5</string>
    <key>color_25</key>
    <string>e5e1bf</string>
	<key>color_26</key>
	<string>d6eeff</string>
    <key>navigationbar_background_color</key>
    <string></string>
    <key>navigationbar_backitem_text_color</key>
    <string>000000</string>
    <key>navigationbar_barbuttonitem_text_color</key>
    <string>000000</string>
    <key>navigationbar_title_color</key>
    <string>000000</string>
    <key>searchbar_background_color</key>
    <string></string>
    <key>searchbar_cancelbutton_background_color</key>
    <string>555555</string>
	<key>interface_background_color</key>
    <string>f0f0f0</string>
</dict>
</plist>
